
  /* Show it is fixed to the top */
  body {
    min-height: 75rem;
    padding-top: 4.5rem;
  }

/*Fondo del navbar*/
.navbar{
  background-image: linear-gradient(to right, #581845, #900c3f,#c70039,#FF5733,#FFC300);
}

.typing{
  text-shadow: 0 0 3px #FF0000;
}
.fondo{
  background-image: url("../img/HTML5-CSS3-1.png");
  background-repeat: no-repeat;
  background-size: 200px 150px;

}

/*Fondo libro*/
.libro{
  background-image: url("../img/libro.png");
  background-size: cover;
  background-position: center;
  margin-bottom: 15px;
}

.visitarLibro{
  position: relative;
  top: 40px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
  /*Fondo de la hamburguesa*/
.hamburguesa{
    background-image: url("../img/hamburguesa.png");
    background-size: cover;
    background-position: center;
}
.visitarHamb{
    position: relative;
    top: 253px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.visitar:visited{
    color: none;
}
  /*Fondo de adopcion*/
.adopcion{
  background-image: url("../img/adopcion.png");
    background-size: cover;
    background-position: center;
}
.visitarAdop{
  position: relative;
  top: 256px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
  /*Fondo de blog*/

  .blog{
      background-image: url("../img/blog.png");
      background-size: cover;
      background-position: center;
  }
  .visitarBlog{
    position: relative;
    top: 253px;
    left: 58px;
    font-weight: bold;
    text-decoration: none;
    color: black;

  }

/*Fondo de formulario*/
.form{
background-image: url("../img/formulario.png");
background-size: cover;
background-position:0%;
}
.visitarForm{
  position: relative;
  top:270px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

/*Fondo Landing Page*/
  /*Fondo de la hamburguesa*/
.landingPage{
    background-image: url("../img/landingPage.png");
    background-size: cover;
    background-position: center;
}

 .visitarLandingPage{
    position: relative;
    top: 253px;
    left: 40px;
    font-weight: bold;
    text-decoration: none;
    color: black;

  }


footer{
  
    background-image: linear-gradient(to right, #581845, #900c3f,#c70039,#FF5733,#FFC300);

}
footer a{
  text-decoration:none;
 
} 

@media screen and (max-width: 500px) {
  .fondo{
    
    background-size: 100px 65px;
    background-position: bottom;
  
  } 
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }